{% extends "personal/header.html" %}

{% block content %}
<form>
	<select class="custom-select">
		<option title='Brute' value='1'>Brute</option>
		<option title='Tinkerer' value='2'>Tinkerer</option>
		<option title='Spellweaver' value='3'>Spellweaver</option>
		<option title='Scoundrel' value='4'>Scoundrel</option>
		<option title='Mindthief' value='5'>Mindthief</option>
		<option title='Sunkeeper' value='6'>Sunkeeper</option>
		<option title='Quartermaster' value='7'>Quartermaster</option>
		<option title='Concentric Circles' value='8'>Concentric Circles</option>
		<option title='Summoner' value='9'>Summoner</option>
		<option title='Nightshroud' value='10'>Nightshroud</option>
		<option title='Plagueherald' value='11'>Plagueherald</option>
		<option title='Berserker' value='12'>Berserker</option>
		<option title='Soothsinger' value='13'>Soothsinger</option>
		<option title='Doomstalker' value='14'>Doomstalker</option>
		<option title='Sawbones' value='15'>Sawbones</option>
		<option title='Elementalist' value='16'>Elementalist</option>
		<option title='Beast Tyrant' value='17'>Beast Tyrant</option>
	</select>
</form>
{% endblock %}