{% extends "header.html" %} 
{% block content %}
	<body>
		<div class="container">
			<div class="header clearfix" style="float: none; text-align: center;">
				<!--<nav>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Character</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Market</a>
                        </li>
                    </ul>
                </nav>
			</div>-->
			<div class="jumbotron" style="text-align: center; line-height: 20px;">
				<div class="form-group" style="">
					<div class="row">
						<div class="col-sm-6">
							<label>Character</label>
						</div>
						<div class="col-sm-6">
							<input class="form-control" type="text">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						Level
					</div>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
							<button class="btn btn-light btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
							</div><input class="form-control form-control-sm" id="qty_input" min="1" type="number" value="1">
							<div class="input-group-prepend">
							<button class="btn btn-light btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						Health
					</div>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<button class="btn btn-light btn-sm" id="minus-btn2"><i class="fa fa-minus"></i></button>
							</div><input class="form-control form-control-sm" id="qty_input2" min="1" type="number" value="1">
							<div class="input-group-prepend">
								<button class="btn btn-light btn-sm" id="plus-btn2"><i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						Experience
					</div>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<button class="btn btn-light btn-sm" id="minus-btn3"><i class="fa fa-minus"></i></button>
							</div><input class="form-control form-control-sm" id="qty_input3" min="1" type="number" value="1">
							<div class="input-group-prepend">
								<button class="btn btn-light btn-sm" id="plus-btn3"><i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						Gold
					</div>
					<div class="col-sm-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<button class="btn btn-light btn-sm" id="minus-btn4"><i class="fa fa-minus"></i></button>
							</div><input class="form-control form-control-sm" id="qty_input4" min="1" type="number" value="1">
							<div class="input-group-prepend">
								<button class="btn btn-light btn-sm" id="plus-btn4"><i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6" style="padding-bottom: 12px;">
						Checks
					</div>
					<div class="col-sm-6" style="padding-bottom: 12px;">
						<input type="checkbox"> <input type="checkbox"> <input type="checkbox">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-primary btn-lg btn-block" type="button">Update</button>
					</div>
				</div>
			</div>
			<div class="row marketing"></div>
			<footer class="footer">
				<p>
					© Company 2017
				</p>
			</footer>
		</div>-->
	</body>
{% endblock %}